:root {
    --primaryColor: #10218b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
}

.sidebar {
    width: 18.5%;
    height: 100vh;
    background: #f8f9fa;
    position: fixed;
}

.content {
    width: 81.5%;
    min-height: 100vh;
    margin-left: 250px;
}


/* ul {
    margin: 0;
    list-style: none;
}

ul li {
    display: inline-block;
    width: 100%;
    height: 32px;
}

ul li a {
    text-decoration: none;
    color: gray;
    font-weight: 500;
} */

.accordion-button {
    padding: 9px !important;
}

/* .active {
    background: var(--primaryColor);
    color: white!important;
    border-radius: 5px;
    padding: 6px 28px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
} */
.band {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
}

.icons {
    font-size: 20px;
    margin-right: 10px;
}